/* Analysis pages */
.webform-analysis-component {
  display: inline-block;
  width: 33.33%;
  margin: 0 -2px;
  padding: 0;
  vertical-align: top;
}
@media all and (max-width: 1024px) {
  .webform-analysis-component {
    width: 50%;
  }
}
@media all and (max-width: 600px) {
  .webform-analysis-component {
    width: 100%;
  }
}
.webform-analysis-component-grid {
  clear: both;
  width: 100%;
}
.webform-analysis-component-inner {
  overflow: auto;
  padding: 12px;
}
.webform-analysis-component table {
  width: 100%;
}
.webform-analysis-component table td {
  white-space: normal;
}
